@inject NavigationManager NavigationManager
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BookSystem</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <!-- Use fully qualified namespace to avoid conflicts -->
            <Microsoft.AspNetCore.Components.Routing.NavLink class="nav-link" href="/SavedBooks" Match="NavLinkMatch.All" >
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
               
            </Microsoft.AspNetCore.Components.Routing.NavLink>
        </div>

        <div class="nav-item px-3">
            <Microsoft.AspNetCore.Components.Routing.NavLink class="nav-link" href="AddNewBook">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add new book
            </Microsoft.AspNetCore.Components.Routing.NavLink>
        </div>
        <div class="nav-item px-3">
            
                
            
        </div>
    </nav>
</div>


