@page "/test"
@rendermode InteractiveServer

<h1>Test Button</h1>
<button @onclick="ClickMe" >Click</button>
<p> @clicked</p>

@code {
    public string clicked = "Not now";

    private void ClickMe()
    {
        clicked = "Pressed";
    }
}
